{% extends 'base.html' %}

{% block content %}

<p>{{num_stars}}</p>
<p>{{release_date}}</p>
<img src="{{image.url}}">
<h1>{{title}}</h1>
<p>{{description}}</p>

{% for song in songs_list %}

<a href="{% url 'music:song_info' song_id=song.id %}">{{song.title}}</a>

{% endfor %}

{% if user.is_authenticated == True %}
<form method="post">          {% csrf_token %}
    {{ comment_form.form.as_p }}
    <button type="sumbit" >Submit</button>
</form>
{% elif user.is_authenticated == False %}
<p>Want ot leave comment? <a href="{% url 'authe:login' %}">Log in</a></p>
{% endif %}


{% for comment in comments_list %}
{{comment.writer}} - {{comment.rating}}: 
{{comment.content}}
<p></p>
{% endfor %}

{% endblock %}