{% extends 'base.html' %}

{% block content %}

<img src="{{image.url}}">
<h1>{{title}} - {{rating.rating}}</h1>
<h2>{{album}}</h2>
{% for genre in genre_list %}
<a href="{% url 'music:genre_info' genre_id=genre.id %}">{{genre.title}}</a>
{% endfor %}
<p>{{description}}</p>
<audio controls>
    <source src="{{ audio_file.url }}" type="audio/mpeg">
</audio>
<p>{{lyrics}}</p>


{% if user.is_authenticated == True %}
<form method="post">          {% csrf_token %}
    {{ comment_form.form.as_p }}
    <button type="sumbit" >Submit</button>
</form>
{% elif user.is_authenticated == False %}
<p>Want ot leave comment? <a href="{% url 'authe:login' %}">Log in</a></p>
{% endif %}



{% for comment in comments_list %}
    {% if comment.writer == request.user %}
        <p style="color:blue">{{comment.writer}} - {{comment.rating}}:</p> 
        <p style="color:blue">{{comment.content}}</p>
    {% else %}
        <p>{{comment.writer}} - {{comment.rating}}:</p> 
        <p>{{comment.content}}</p>
    {% endif %}
<p></p>
{% endfor %}

<a href="{% url 'comments:song_comments' song_id=title.id %}">view all comments</a>

{% endblock %}